.home{
    background-image: url("../img/64111.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home .img1 {
    margin-top: 2rem;
    width: 100%;
}
.home .div-1{
    margin: 0 auto;
}
.home .div-1 h2,.home .div-2 h2{
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(255, 99, 122); 
    width: 80%;
    margin: 0 auto;
    text-align:center;

}
.home .div-2 h2{

    text-shadow: 1px 1px 5px rgb(36, 36, 36);
}
.home .button-container h3{
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(69, 69, 69); 
    width: 80%;
    margin: 0 auto;
    text-align:center;
}
.home .button-container {
    display: inline-block;
    position: relative;
}
.home .button-container>div {
    padding-top: 2rem;
    position: absolute;   
    width: 80%;
    height: 80%;
    left: 10%;
    top: 13%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
}
.home .button-container .btn-box{
    padding-top: 2rem;
    width: 30%;
    margin: 0 auto;
}
.home .div-2{
    margin: 15% auto;
}
.home .div-2 .btn-box2{
    width: 40%;
    margin: 3rem auto;
}
.home .div-2 h3{
    width: 80%;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(255, 255, 255); 
    text-shadow: 1px 1px 5px rgb(192, 192, 192);
    margin: 0 auto;
    text-align:center;
}

.home .img2{
    width: 40%;
    object-fit: cover;
    filter: grayscale(0.4);
}
.home .div-3{
    display: flex;
    width: 90%;
    margin: 15% auto;
    flex-direction: row;
    border: solid 6px rgb(56, 56, 56);
    background-color: rgba(255, 255, 255, 0.2);
}
.home .div-3_text{
    width: 70%;
}
.home .div-3 .btn-box3{
    width: 60%;
    margin:  2rem auto;
}
.home .div-3 h3{
    text-align:center;
    width: 90%;
    margin: 1rem auto 0;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(255, 255, 255); 
    text-shadow: 1px 1px 5px rgb(192, 192, 192);
}
.home .div-3 strong{

    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(255, 99, 122);
    text-shadow: 1px 1px 5px rgb(81, 81, 81);
}
@media only screen and (min-width:468px) {
    .home .div-1 h2,.home .div-2 h2{
        font-size: 2rem;
    }
}
@media only screen and (min-width:576px) {

    .home .div-1 h3{
        margin: 2rem auto 1rem;
    }
    .home .button-container>div {
        position: absolute;   
        width: 76%;
        height: 80%;
        left: 12%;
        top: 13%;
    }

}
/* medium */
@media only screen and (min-width:768px) {
    .home .button-container>div {
        position: absolute;   
        width: 64%;
        height: 70%;
        left: 18%;
        top: 13%;
    }
    .home .div-1 h3{
        margin: 3rem auto 2rem;
    }
    .home .div-1 h3,.home .div-2 h3{
        font-size: 1.8rem;
    }
    .home .div-1 h2,.home .div-2 h2{
        font-size: 2.2rem;
    }
    .home .div-2,.home  .div-3{
        margin: 20% auto 20% ;
    }
    .home .div-2,.home  .div-3 {
        width: 80%;
    }
}
 /* largue */
@media only screen and (min-width:950px) {
    .home .div-1 h3{
        margin: 10% auto 2rem;
    }
    .home .div-1 .btn-box{
        margin-top: 10%;
    }
    .home .button-container>div {
        padding-top: 2rem;
        position: absolute;   
        width: 56%;
        height: 70%;
        left: 22%;
    }
    .home .div-2,.home .div-3 {
        width: 70%;
    }
}
/* Extra largue */
@media only screen and (min-width:1200px) {
    .home .button-container>div {
        padding-top: 2rem;
        position: absolute;   
        width: 40%;
        height: 60%;
        left: 30%;
    }
    .home .div-2,.home  .div-3 {
        width: 50%;
    }
}
@media only screen and (min-width:1400px) {
    .home .div-1 h3{
        margin: 15% auto 2rem;
    }
    .home .button-container>div {
        padding-top: 2rem;
        position: absolute;   
        width: 40%;
        height: 55%;
        left: 30%;
    }
    .home .div-2, .home .div-3 {
        width: 50%;
    }
}
@media only screen and (min-width:1700px) {
    .home .div-1 h3,.home .div-2 h3, .home .div-3 h3{
        font-size: 2.2rem;
    }
    .home .div-1 h2,.home .div-2 h2{
        font-size: 2.6rem;
    }
}

