.carousel-margin{
    margin-top: calc(100vw * 0.7);
}
.home .img1{
    width: 50%;
}
.button-container{
    display:inline-block;
    position:relative;
    }
    .button-container div{
        color: white;
        position: absolute;
        bottom:50%;
        right:70%;
      
        }