.shopping{
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
}
.shopping header hr{
  margin-top: 1rem;
}
.shopping .logo{
  display: flex;
}
.shopping .logo>img{
  width: 20%;
  object-fit:scale-down
}
.shopping-route{
  display: flex;
  border-radius: .5rem;
}
.shopping-route>.current{
color:white;
  background-color: rgb(0, 107, 111);
}
.shopping-route>div{
  color: rgb(99, 99, 99);
  background-color: rgb(153, 153, 153);
  border-radius: .5rem;
  padding: .5rem;
  margin: 0 .2rem;
}
.shopping-route h3{
  text-align: center;
  margin: 0 ;
}
.product-containter .buttons{
   display: flex;
   justify-content: space-between;
}

.shopping .content>div{
    display: flex;
}
.shopping .detail{
    width: 27%;
    margin-left: 3%;
    border: solid 1px rgb(204, 204, 204);
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    height: auto;

}
.shopping .product-containter{
    width: 70%;
     
}
.shopping .shopping-product-prev>div{
  line-height: 0;

}
.shopping .shopping-product-prev #prod-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;    
 }
 .shopping .shopping-product-prev #prod-buttons>button{
    width: 30%;
    margin: .2rem auto;    
 }
 .shopping .shopping-product-prev #prod-buttons .ctd{
    border-radius: 0;
    border: solid 1px gray;
    line-height: normal;
    margin: 0;
    padding: .2rem .5rem;
    
 }
.shopping .shopping-product-prev #moreless{
   display: flex;
   justify-content: center;
   height: 2rem;
}
.shopping .shopping-product-prev #moreless>button{
 line-height: normal;
}
.shopping .shopping-product-prev{
    display: flex;
    height: 25%;
    border: solid 1px rgb(204, 204, 204);
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    margin-bottom: 1rem; 
    overflow: hidden;
  }

.shopping .shopping-product-prev>img{
    width:25%;
    object-fit: contain; 

  }
  .shopping .shopping-product-prev>div{
    width: 50%;
  }
  #save-cont{
    width: 80%;
    margin: 1rem 10%;
  }