.store{
    background-image: url("../img/64111.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.products{
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card{
    width: 23%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255,.5);
}
.product-card>img{
    width: 100%;
}
.product-card>h2{
    margin: 0;
}
.cargando{
    height: 100vh;
}