.store{
    background-image: url("../img/64111.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card{
    width: 23%;
}
.product-card>img{
    width: 100%;
}