.menu{
    display: flex;
    flex-direction: column;
}
.menu .logo{
    margin: 1rem 0 0 1rem;
    width: 10%;
}
.logo>img{
    width: 10rem;
    object-fit: cover;
}
.menu>nav{
    background-color: rgba(0, 107, 111,0.5);
    font-weight: 700;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 2rem;
}
.menu .linkmenu{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
.menu .linkmenu:hover{
    color: rgb(255, 99, 122);
    scale: .95;
    text-shadow: 1px 1px 5px rgb(58, 58, 58);
}
.menu p{
    color: white;
}
/* medium */
@media only screen and (min-width:768px) {
    .menu .logo{
        margin: 1.2rem 0 .8rem 1rem;
    }
}

@media only screen and (min-width:1200px) {
    .logo>img{
        width: 12rem;
    }
    .menu>nav{
        padding: .5rem;
        font-size: 1.2rem;
    }
}

